ipython
jupyterlab
loguru
matplotlib
mkdocs
notebook
numpy
langchain
langchain-huggingface
sentence-transformers
pandas
pip
pydantic
openai
pymupdf
pdf2image
pillow
pytest
python-dotenv
ruff
scikit-learn
tqdm
typer
mineru
ultralytics
doclayout-yolo
ftfy
dill
shapely
pyclipper
omegaconf
langchain-text-splitters
fastapi
uvicorn[standard]
streamlit
-e .
